a{
    text-decoration: none; /* no text decorations on anchor tags*/
}

.aside-item-3 li:hover{
   transform: scale(1.5,2); /*make the list items a bit bigger on hover in our 'main' nav menu */
}



.start-grid{
    display: grid;
    position: relative;
    gap: 0px;
    background-color: blue;
    grid-template-columns: 250px auto;
    overflow-x: hidden;
}
.aside-grid{
    grid-column: 1;
    width: 250px;
    display: grid;
    position: fixed;
    grid-template-rows: 200px 100px auto;
    background-color: rgb(176, 176, 221);
    z-index: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-item{
    border: 2px;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    
}

.aside-item-1{
    grid-row: 1;
    
}

.aside-item-2{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-item-3{
    grid-row: 3;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}


.profile-pic{
    display: block;
    grid-row: 1 / 1;
    width: 100px;
    height: auto;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    margin: 20px auto 1px auto;
}

.aside-item-2 ul li{
    display: inline;
    padding: 10px;
}

.aside-item-2-Icons{
    width: 30px;
    height: auto;
}

.aside-item-3 ul li{
    list-style: none;
    font-size: 25px;
    padding: 25px;
    transition: transform 2s;
}

.main-grid{
    grid-column: 2;
    display: grid;
    gap: 0px;
    grid-template-columns: auto; /* 1 column*/
    grid-template-rows: /*100vh*/ auto auto auto; /* 3 rows*/

}

.main-item-1{
    grid-row: 1 / 1;
}

.main-item-1 img{
    height: 100vh;
    width: 100%;
}

.main-item-2{
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.main-item-3{
    grid-row: 3;
}

#portfolio-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media screen and (max-width: 600px) {
    .start-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .aside-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        float: left;
        height: auto;
        position: static;
    }
    .main-grid {
        display: flex;
        flex-direction: column;
    }
    

}