a{
    text-decoration: none; /* no text decorations on anchor tags*/
}

.aside-item-3 li:hover{
   transform: scale(1.5,2); /*make the list items a bit bigger on hover in our 'main' nav menu */
}



.start-grid{
    display: grid;
    position: relative;
    gap: 0px;
    background-color: blue;
    grid-template-columns: 250px auto;
    overflow-x: hidden;
}
.aside-grid{
    grid-column: 1;
    width: 250px;
    position: fixed;
    display: grid;
    grid-template-rows: 200px 100px auto;
    background-color: rgb(176, 176, 221);
    z-index: 1;
    height: 100vh;
}

.grid-item{
    border: 2px;
    border-style: solid;
    border-color: black;
    
}

.aside-item-1{
    grid-row: 1;
    
}

.aside-item-2{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-item-3{
    grid-row: 3;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}


.profile-pic{
    display: block;
    grid-row: 1 / 1;
    width: 100px;
    height: auto;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    margin: 20px auto 1px auto;
}

.aside-item-2 ul li{
    display: inline;
    padding: 10px;
}

.aside-item-2-Icons{
    width: 30px;
    height: auto;
}

.aside-item-3 ul li{
    list-style: none;
    font-size: 25px;
    padding: 25px;
    transition: transform 2s;
}

.main-grid{
    grid-column: 2;
    display: grid;
    gap: 0px;
    grid-template-columns: auto; /* 1 column*/
    grid-template-rows: 100vh auto; /* 2 rows*/

}

.main-item-1{
    grid-row: 1;
}

.main-item-1 img{
    height: 100vh;
    width: 100%;
}

.main-item-2{
    grid-row: 2;
    display: flex;
}

#portfolio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .start-grid .aside-grid {
      flex: 0 0 50%;
      max-width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .start-grid {
      width: 100%;
    }
}