:root {
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif /* Set up font variable for other rule sets */
}

a{ 
    text-decoration: none; /* no text decorations on anchor tags*/
}

.aside-item-3 li:hover{
   transform: scale(1.5,2); /*make the list items a bit bigger on hover in our 'main' nav menu */
}



.start-grid{ /* Begin our grid with two columns */
    display: grid;
    position: relative;
    gap: 0px;
    background-color: rgb(175, 175, 241);
    grid-template-columns: 250px auto;
    overflow-x: hidden;
}
.aside-grid{ /* This grid creates our side bard with 3 rows and stays fixed to the side as you scroll */
    grid-column: 1;
    width: 250px;
    display: grid;
    position: fixed;
    grid-template-rows: 200px 100px auto;
    background-color: rgb(176, 176, 221);
    z-index: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-item{ /* gives every item in our grid the border box box-sizing. Also if we add a border we can clearly see where each row starts and ends */
    border: 0px;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    
}

.aside-item-1{ /* our first row in our sidebar has a font-family of Arial*/
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    
}

.aside-item-2{ /* our second row which includes our link icons */
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-item-3{ /* our third row which includes our nav bar */
    grid-row: 3;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}


.profile-pic{ /* styles our profile pic to have round edges */
    display: block;
    grid-row: 1 / 1;
    width: 110px;
    height: auto;
    border: 1px;
    border-style: solid;
    border-radius: 30px;
    margin: 20px auto 7px auto;
}

.aside-item-2 ul li{ /*our icons will display inline */
    display: inline;
    padding: 10px;
}

.aside-item-2-Icons{ /* adjusts the size of our icons*/
    width: 30px;
    height: auto;
}

.aside-item-3 ul li{ /* gives our nav bar some transition effects on hover*/
    list-style: none;
    font-size: 25px;
    padding: 25px;
    transition: transform 2s;
}

.main-grid{ /*splits up the second column into 1 main column with 4 rows */
    grid-column: 2;
    display: grid;
    gap: 0px;
    grid-template-columns: auto; /* 1 column*/
    grid-template-rows: 100vh auto auto auto; /* 4 rows*/

}

.main-item-1{ /* our first item in our grid is in row 1 */
    grid-row: 1;
}

.main-item-1 img{ /* allows sizing of our background image */
    height: 100vh;
    width: 100%;
}

.main-item-2{/* centers the content in our second row */
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.main-item-3{/* centers the content and allows it to wrap in our third row*/
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{/* adds a background color to our cards and padding */
    justify-content: flex-start;
    background-color: #33393f;
    color: #e866ec;
    padding: 2rem;
}

.card-outline{/*outline for our cards as well as how they will wrap with other items in the grid */
    display: flex;
    flex-direction: column;
    outline: 2px dashed #e0eae4;
    outline-offset: -2px;
    margin: 40px;
}

.card-outline .card-header{/* adjusts the style of the header*/
    position: relative;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: #33393f;
    color: #e866ec;
    border: 2px solid #e0eae4;
    border-radius: 8px;
}

.card pre{/* allows the pre text to scale up*/
    flex-grow: 1;
}

#portfolio-header{/* adjusts the text for the portfolio header*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: #e866ec;
}

#home{/*changes font and allows us to link to the home part of our site */
    font-family: var(--font);
}
#about-me{/* changes font and allows us to link to the about me part of our site*/
    font-family: var(--font);
}

#contact-form{/* changes font and allows us to link to the contact part of our site */
    font-family: var(--font);
}

.main-item-4{/* our last row and our footer. allows it to wrap around other content*/
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {/* adjusts rule sets to scale down when the screen gets smaller*/
    .start-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .aside-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        position: static;
    }
    .main-grid {
        display: flex;
        flex-direction: column;
    }
    .main-item-1{
        display: flex;
        flex-wrap: wrap;
        height: inherit;
    }
    .main-item-1 img{
        height: auto;
        object-fit: fill;
    }

    .card-outline{
        margin: 0px;
    }

}